<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Autographa Live</title>

    <!-- Bootstrap core CSS-->
    <link href="../assets/stylesheets/style.css" rel="stylesheet">
    <!-- slider css -->
    <link href="../assets/stylesheets/bootstrap-slider.css" rel="stylesheet">
    <!-- material design files -->
    <link rel="stylesheet" href="../assets/stylesheets/material.light_blue-indigo.min.css" />
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="../assets/stylesheets/icon.css">
    <link rel="stylesheet" href="../../node_modules/react-selectize/dist/index.min.css" />
    <!-- material design files -->
    <style type="text/css">
        .navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
    </style>
</head>

<body>
    <div id="container"></div>

    <script type="text/javascript">
        require("../container.js");
    </script>

    <!--
    Bootstrap core JavaScript
    ==================================================
-->
    <!-- Placed at the end of the document so the pages load faster-->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script>
        if (window.module) module = window.module;
    </script>
</body>

</html>
