<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Autographa Lite</title>
    <!-- Bootstrap core CSS-->
    <link href="../assets/stylesheets/style.css" rel="stylesheet">
    <link href="../assets/stylesheets/sweetalert.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img alt="Brand" src="../assets/images/logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html" data-toggle="tooltip" data-placement="bottom" title="Editor"><i class="fa fa-pencil-square-o fa-2x"></i></a></li>
            <!-- <li><a href="settings.html" data-toggle="tooltip" data-placement="bottom" title="Settings"><i class="fa fa-cog fa-2x"></i></a></li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>Autographa Lite Beta</h2><b>Under MIT License</b>
          <br> 
          www.autographa.com

          <h3>Engineered by  :</h3>
          <ul>
            <li>Joel Mathew</li>
            <li>Sandeep Kumar</li>
            <li>Sony Zacharia</li>
            <li>Binu Alexander</li>
            <li>Arpit Jacob</li>
          </ul>
          <h3>FAQS</h3>
          <p>What is MIT license and what does it mean ?</p>
          <h3>The MIT License (MIT)</h3>
          <p>Copyright (c) 2016  - Friends of Agape and RUN Ministries </p>
          
          <li>www.friendsofagape.org/</li>

          <li>www.runministries.org/</li>  
          
          <br>

          <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
          <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
          <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
          <h3>Why another Bible translation Tool?</h3>
          <p>To provide  a minimalist USFM editor for Bible Translators to use without any specific training or technical know how .</p>
          <h3>What is USFM ?</h3>
          <p>USFM stands for Unified Standard Format Markers the de-facto markup convention for Bible Translation software tools .</p>
          <h3>More info at http://paratext.org/about/usfm</h3>
          <h3>Recommend  USFM Requirements for Autographa ?</h3>
          <p>https://git.door43.org/Door43/ContentTechs/wiki/Minimum-USFM-Requirements</p>
        </div>
      </div>
    </div>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script>if (window.module) module = window.module;</script>
  </body>
</html>
